<link href="./popup.css" rel="stylesheet" type="text/css">
<script src="./vue.js"></script>

<div id="app" class="wrapper">
  <header class="module-location">
    <div class="location-title rating-positive">
      <input v-model="text" type="text" placeholder="Type a word to ignore...">
      <button @click="addWord">Save</button>
      <h2>{{ message }}</h2>
      <time>{{ time }}</time>
    </div>
  </header>
  <ul class="module-history">
    <li class="rating-negative memo-yep">
      <h3>List of words to ignore</h3>
      <time>All publications containing these words will be deleted from your feed</time>
      <i></i>
    </li>
    <li 
      class="rating-positive memo-yep" 
      v-for="item in list" 
      @dblclick="deleteWord(item)"
      v-bind:title="'Dbl click for delete ' + item">
      <h3>{{ item }}</h3>
      <i></i>
    </li>
  </ul>
</div>

<script type="text/javascript" src="popup.js"></script>