<link href="./popup.css" rel="stylesheet" type="text/css">
<script src="./vue.js"></script>

<div id="app" class="wrapper">
  <header class="module-location">
    <div class="location-title rating-positive">
      <input v-model="text" type="text" placeholder="Type a word to ignore...">
      <button @click="addWord">Save</button>
      <h2>{{ message }}</h2>
      <time>{{ time }}</time>
    </div>
  </header>
  <ul class="module-history">
    <li class="rating-negative memo-yep">
      <h3>List of words to ignore</h3>
      <time>All publications containing these words will be deleted from your feed</time>
      <i></i>
    </li>
    <li class="rating-positive" v-for="item in list">
      <h3>{{ item }}</h3>
      <i></i>
    </li>
    <li class="rating-negative memo-yep">
      <h3>Clear desk at Pun Space</h3>
      <time>2 hours ago</time>
      <i>Has a memo attached</i>
    </li>
    <li class="rating-negative memo-yep">
      <h3>Call the landlady</h3>
      <time>2 hours ago</time>
      <i>Has a memo attached</i>
    </li>
    <li class="rating-positive">
      <h3>Fix #rispen bug on WP8</h3>
      <time>3 hours ago</time>
      <i></i>
    </li>
    <li class="rating-positive">
      <h3>Talk business w/ Emma</h3>
      <time>3 hours ago</time>
      <i></i>
    </li>
    <li class="rating-positive memo-yep">
      <h3>Write Markup for history view</h3>
      <time>4 hours ago</time>
      <i></i>
    </li>
    <li class="rating-positive">
      <h3>Look up support for position: sticky</h3>
      <time>4 hours ago</time>
      <i></i>
    </li>
    <li class="rating-positive memo-yep">
      <h3>Skype call w/ Thomas</h3>
      <time>6 hours ago</time>
      <i></i>
    </li>
    <li class="rating-negative">
      <h3>Still adding geo-location to #rispen</h3>
      <time>6 hours ago</time>
      <i>Has a memo attached</i>
    </li>
    <li class="rating-negative">
      <h3>Add geo-location support to #rispen</h3>
      <time>7 hours ago</time>
      <i>Has a memo attached</i>
    </li>
  </ul>
</div>

<script type="text/javascript" src="popup.js"></script>